/*
index.php
*/

.jumbotron {
    background-image: url('/img/landfill.png');
    background-size: cover;
    background-position: center;
}

/*
team.php
*/

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
  
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    margin-right: 20px; 
    margin-left: 20px; 
}

.member-info {
    flex: 1;
}

@media (max-width: 768px) {
    .team-member {
        flex-direction: column;
        text-align: center;
    }

    .team-member img {
        margin: 0;
        margin-bottom: 10px;
    }
}

/*
waste.php
*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}


/************* Maps **********************/

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

 gmp-map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }