/*
index.php
*/

.jumbotron {
    background-image: url('/img/landfill.png');
    background-size: cover;
    background-position: center;
}

.section2{
    padding-top: 15em;
}

/*
team.php
*/

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
  
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    margin-right: 20px; 
    margin-left: 20px; 
}

.member-info {
    flex: 1;
}

@media (max-width: 768px) {
    .team-member {
        flex-direction: column;
        text-align: center;
    }

    .team-member img {
        margin: 0;
        margin-bottom: 10px;
    }
}

/*
waste.php
*/

.container {
    padding: 50px 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}


/************* Maps **********************/
#map{
    height: 100vh;
}


/************* Logistics **********************/
.horiz-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

