/*
index.php
*/

.jumbotron {
    background-image: url('/img/landfill.png');
    background-size: cover;
    background-position: center;
}

/*
team.php
*/

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
  
.team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px; 
    margin-right: 20px; 
    margin-left: 20px; 
}

.member-info {
    flex: 1;
}

@media (max-width: 768px) {
    .team-member {
        flex-direction: column;
        text-align: center;
    }

    .team-member img {
        margin: 0;
        margin-bottom: 10px;
    }
}

/*
waste.php
*/

.container {
    padding: 50px 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 30px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}


/************* Maps **********************/
#map{
    height: 100vh;
}


/************* Logistics **********************/
.horiz-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/*
add-waste.php
*/

form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius:5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}